<nav class="navbar" style="background-color: #00378e;">
    <div class="container-fluid">
      <a>
        <mat-icon class="botao-menu" fontIcon="menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu"
        aria-controls="offcanvasMenu" aria-label="Abrir Menu"></mat-icon>
      </a>
      <a class="navbar-brand"><strong>Ford Brasil</strong></a>
    </div>
  </nav>
  
  <div class="offcanvas offcanvas-start custom-offcanvas" tabindex="-1" id="offcanvasMenu"
    aria-labelledby="offcanvasMenuLabel" style="background-color: #00378e;">
    <div class="offcanvas-header">
      <img src="/img/ford.png" alt="Logo da Ford" class="img-fluid mx-auto d-block mb-3"
        style="max-height: 80px; object-fit: contain;">
    </div>
    <div class="offcanvas-body">
      <span class="text-white mb-3 d-block" style=" text-align: center;"><i>Prepare-se para viver. #FordReadyForMore.</i></span>
      <ul class="navbar-nav flex-column">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" (click)="onHome()"><b>HOME</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" (click)="onDashboard()"><b>DASHBOARD</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" (click)="onLogin()">
            <p>Sair</p>
          </a>
        </li>
      </ul>
    </div>
  </div>