<main>
    <app-cabecalho></app-cabecalho>
    <div class="dashboard">
        <div class="texto">
            <h1>Dashboard Ford</h1>
        </div>
        <div class="cards">
            <div class="veiculo">
                <mat-card appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>Veículo</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-form-field>
                            <mat-label>Selecione o Veículo</mat-label>
                            <mat-select>

                            </mat-select>
                        </mat-form-field>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="info1">
                <mat-card appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>Descrição</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            0
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="info2">
                <mat-card appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>Descrição</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            0
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="info3">
                <mat-card appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>Descrição</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            0
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="imagem">
            <img src="/img/broncoSport.png" alt="">
        </div>
        <div class="tabela">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <app-rodape></app-rodape>
</main>
