<main>
    <app-cabecalho></app-cabecalho>
    <div class="dashboard">
        <div class="texto">
            <h1>Dashboard Ford</h1>
        </div>
        <div class="cards">
            <div class="card">
                <div class="card-header">
                    Veículo
                </div>
                <div class="card-body">
                    <form [formGroup]="selectCarForms">
                        <label *ngIf="!selectedVehicle">Selecione o Veículo</label>
                        <select formControlName="carId" class="card-select">
                            <option *ngFor="let vehicle of vehicles" [value]="vehicle.id">
                                {{vehicle.vehicle}}
                            </option>
                        </select>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Total de Vendas
                </div>
                <div class="card-body">
                    <strong *ngIf="selectedVehicle">{{selectedVehicle.volumetotal}}</strong>
                    <p class="card-text">Unid.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Conectados
                </div>
                <div class="card-body">
                    <strong *ngIf="selectedVehicle">{{selectedVehicle.connected}}</strong>
                    <p class="card-text">Unid.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Update Software
                </div>
                <div class="card-body">
                    <strong *ngIf="selectedVehicle">{{selectedVehicle.softwareUpdates}}</strong>
                    <p class="card-text">Unid.</p>
                </div>
            </div>
        </div>
        <div class="imagem">
            <img *ngIf="selectedVehicle" [src]="selectedVehicle.img">
        </div>
        <div>
            <div class="d-flex flex-column busca-vin">
                <h1 class="mb-4">Dados do Veículo</h1>
                <div class="busca">
                    <div class="mb-4">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Digite o Código VIN"
                                [(ngModel)]="vinInput" (keyup.enter)="getVehicleInfo()" />
                            <button class="btn btn-primary" (click)="getVehicleInfo()">
                                Buscar Dados
                            </button>
                        </div>
                    </div>
                </div>
                <div *ngIf="errorMessage" class="alert alert-danger mt-3 mb-4 mensagem-erro">
                    {{ errorMessage }}
                </div>
            </div>
            <div *ngIf="vehicleData" class="table-responsive mb-4">
                <table class="table table-bordered table-responsive fix-table-height">
                    <thead>
                        <tr class="table-primary">
                            <th scope="col">Código - Vin</th>
                            <th scope="col">Odômetro</th>
                            <th scope="col">Nível de Combustível</th>
                            <th scope="col">Status</th>
                            <th scope="col">Lat.</th>
                            <th scope="col">Long.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ vinInput }}</td>
                            <td>{{ vehicleData.odometro }} km</td>
                            <td>{{ vehicleData.nivelCombustivel }} %</td>
                            <td>{{ vehicleData.status === 'on' ? 'Ligado' : 'Desligado' }}</td>
                            <td>{{ vehicleData.lat }}</td>
                            <td>{{ vehicleData.long }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <app-rodape></app-rodape>
</main>