<main>
    <app-cabecalho></app-cabecalho>
    <div class="dashboard">
        <div class="texto">
            <h1>Dashboard Ford</h1>
        </div>
        <div class="cards">
            <div class="card">
                <div class="card-header">
                    Veículo
                </div>
                <div class="card-body">
                    <form [formGroup]="selectCarForms">
                        <label>Selecione o Veículo</label>
                        <select formControlName="carId" class="card-select">
                            <option *ngFor="let vehicle of vehicles" [value]="vehicle.id">
                                {{vehicle.vehicle}}
                            </option>
                        </select>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Total de Vendas
                </div>
                <div class="card-body">
                    <strong *ngIf="selectedVehicle">{{selectedVehicle.volumetotal}}</strong>
                    <p class="card-text">Unid.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Conectados
                </div>
                <div class="card-body">
                    <strong *ngIf="selectedVehicle">{{selectedVehicle.connected}}</strong>
                    <p class="card-text">Unid.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Update Software
                </div>
                <div class="card-body">
                    <strong *ngIf="selectedVehicle">{{selectedVehicle.softwareUpdates}}</strong>
                    <p class="card-text">Unid.</p>
                </div>
            </div>
        </div>
        <div class="imagem">
            <img *ngIf="selectedVehicle" [src]="selectedVehicle.img">
        </div>
        <div class="tabela">
            <table class="table table-bordered">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">Código - Vin</th>
                        <th scope="col">Odômetro</th>
                        <th scope="col">Nível de Combustível</th>
                        <th scope="col">Status</th>
                        <th scope="col">Lat.</th>
                        <th scope="col">Long.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>0</td>
                        <!-- <td *ngIf="selectedVehicle">{{vehicleData.odometro}}</td> -->
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <app-rodape></app-rodape>
</main>