<app-cabecalho></app-cabecalho>
<main>
<div class="home">
    <mat-card class="boas-vindas" appearance="outlined">
        <mat-card-header>
            <mat-card-title>Sistema de dados FORD</mat-card-title>
            <mat-card-subtitle>Seja bem-vindo(a)!</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Preparamos uma experiência unica e facilitada para atender do melhor modo
                possivel as suas nescessidades. <br>
                Acesse o dashboard para vizualizar os nossos veiculos.
            </p>
        </mat-card-content>
    </mat-card>
</div>
</main>
<app-rodape></app-rodape>
