<main>
    <app-cabecalho></app-cabecalho>
    <div class="home">
        <div class="card">
            <div class="card-header">
                Sistema de dados FORD
            </div>
            <div class="card-body">
                <strong>Seja bem-vindo(a)!</strong>
                <p class="card-text">Preparamos uma experiência unica e facilitada para atender do melhor modo
                    possivel as suas nescessidades. <br>
                    Acesse o dashboard para vizualizar os nossos veiculos.
                </p>
            </div>
        </div>
    </div>
    <app-rodape></app-rodape>
</main>